body{
     background-color: #EAF6F6;
	}

hr{             
	border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:10%;
  }

h1{
	color: #66BFBF;
}

.container{
	width=500px;
	clear: both;
}
.container input{
	width:50%;
	clear: both;
}
